* {
  font-family: "poppins", sans-serif;
  margin: 0;
  box-sizing: border-box;
}

.container {
  height: 100vh;
  border: 2px solid red;
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: radial-gradient(
    circle 610px at 5.2% 51.6%,
    rgba(5, 8, 114, 1)
  );
}
