* {
  margin: 0;
  box-sizing: border-box;
}

body {
  margin: 20px;
  width: 300px;
  height: 350px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px solid red;
}

.cirleRounded {
  border-radius: 50%;
  border: 2px solid red;
}
